#logo{
  width:200px;
  height:70px;
  margin:10px;
  border-radius:5px;
}
#heading{
  font-family: 'Piedra', cursive;
  font-size:45;
  color:white;
  margin-top: 20px;
}
.logoTitle{
  /*background-color:rgb(59, 176, 179);
 /* background-color:rgba(25, 82, 152, 0.84);*/
 background-image: url(img2.jpg);
  height: 10px;
  width:100%;
  border-radius:5px;
}